body{
    margin: 0% 20% 0%;
    background-image: url("Images/ghibli_bg.jpg");
}
.Template_Box{
    padding: 5px; 
    border: 5px solid black;
    margin: 5px; 
    
    color:blue;
    background-color: red;

}
.Horizontal{
    display:flex;
}
#header{
    border-image:url("Images/character_frame.png") 50/20px;
    padding: 1% 20% 1%;
    background-color: rgb(255, 245, 238, 0.5 );
}
nav{
    display:flex;
    justify-content: space-evenly;
}
.nav_element{
    border: 2px solid black;
    padding:3px;
    margin:3px;
}


#footer{
    border:10px solid black;
    padding: 5px;
}


.parent{
    position: relative;
    border: 5px solid black;
    
}
.child{
    position:absolute;
    top:50%;
    left:50%;
}
.child:hover span{
  display: inline-block;
}
    

.star{
    width:10px;
    height:10px;
    border:1px solid black
}
.child span {
  display: none;
}

.image{
    max-width: 100%;
    max-height:auto;
}

