.general{
    border: 1px solid black ;
    padding: 10px;
    margin: 10px;
}
.contents{
    display:flex;
}
header{
    justify-content: center;
}
nav{
    
    display:flex;
}

footer{
    border-image-source:url("Images/weapon_frame.png") 36;
    border-image-slice:36 36 36 36;
    border-image-width:20px 20px 20px 20px;
    border-image-outset:0px 0px 0px 0px;
    border-image-repeat:stretch stretch;
}